

    <div class="x_content">
      <%= form_for(@settingsmtp ,  :html => {:class => "form-horizontal form-label-left",:novalidate=>"novalidate"}) do |f| %>

          <%= f.hidden_field :user_id, :value => current_user.id %>

          <span class="section"> IMAP, POP3, and SMTP Details</span>

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">Host Address	 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :hostaddress, autofocus: true,:class=>'form-control' , :required =>'required',:placeholder=>"www.website.com" %>
            </div>

            <% if @settingsmtp.errors[:hostaddress].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Port <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :post,:class=>'form-control' , :required =>'required',:placeholder=>"Port" %>
            </div>
            <% if @settingsmtp.errors[:post].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">User Name / Email <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :user_name,:class=>'form-control' , :required =>'required',:placeholder=>"User Name / Email" %>
            </div>
            <% if @settingsmtp.errors[:user_name].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Password <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :password,:class=>'form-control' , :required =>'required',:placeholder=>"Password" %>
            </div>
            <% if @settingsmtp.errors[:password].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Enable SSL Status <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :enable_ssl,:class=>'form-control' , :required =>'required',:placeholder=>"Enable SSL Status" %>
            </div>
            <% if @settingsmtp.errors[:enable_ssl].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>

          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">Protocol <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.select(:protocol,  [["POP3", "POP3"], ["IMAP", "IMAP"],["SMTP","SMTP"]], {include_blank: "Select something"}, { :class=>'form-control' }) %>
            </div>
            <% if @settingsmtp.errors[:protocol].present? %>
                <ul class="parsley-errors-list filled" id="parsley-id-2042"><li class="parsley-required">This value is required.</li></ul>
            <% end %>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <button type="submit" class="btn btn-primary">Cancel</button>
              <button id="send" type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
      <% end %>

    </div>
 </div>
