<div class="right_col" role="main">

  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Task  <small>for me</small></h3>
      </div>

      <div class="title_right">

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Task List with descriptions</h2>
            <ul class="nav navbar-right panel_toolbox">
              <%= link_to 'Project List',projects_path, :class => 'btn btn-xs btn-primary' %>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="col-md-9 col-sm-9 col-xs-12">

              <ul class="stats-overview">
                <li>
                  <span class="name"> Estimated budget </span>
                  <span class="value text-success"> 2300 </span>
                </li>
                <li>
                  <span class="name"> Total amount spent </span>
                  <span class="value text-success"> 2000 </span>
                </li>
                <li class="hidden-phone">
                  <span class="name"> Estimated project duration </span>
                  <span class="value text-success"> 20 </span>
                </li>
              </ul>
              <br />

              <div>

                <h4>Task</h4>

                <!-- end of user messages -->
                <ul class="messages">
                      <li>
                        <img src="<%= @task.users.avatar.url %>" class="avatar" alt="Avatar">
                        <div class="message_date">
                          <h3 class="date text-info"><%= @task.created_at.strftime("%d") %></h3>
                          <p class="month"><%= @task.created_at.strftime("%B")%>,<%= @task.created_at.strftime("%Y")%></p>
                        </div>
                        <div class="message_wrapper">
                          <h4 class="heading"><%= @task.users.firstname %> <%= @task.users.lastname %> (Assigned by)</h4>
                          <b><%= @task.name %></b><br>
                          <blockquote class="message"><%= @task.descriptions %></blockquote>
                          <p class="url">
                            <i class="fa fa-users"></i> Assigned to :
                          </p>
                          <% @task.user.each do |username| %>
                              <p class="url">
                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a href="#"><i class="fa fa-user"></i> <%= username.firstname %> <%= username.lastname %> </a>
                              </p>
                          <% end %>
                          <% if @task.status == 0  %>
                              <a class ='btn btn-xs btn-warning'>Pending</a>
                          <%
                             else
                          %>
                              <a class ='btn btn-xs btn-success'>Done (By <%= @task.nasty_user.firstname %> <%= @task.nasty_user.lastname %>)</a>
                          <% end  %>
                          <% if !@comments.nil? %>
                              <div>

                                <h4>Recent Comments</h4>

                                <!-- end of user messages -->
                                <ul class="messages">
                                  <% @comments.each do |data| %>
                                  <li>
                                    <img src="<%= data.users.avatar.url %>" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                      <h3 class="date text-info"><%= data.created_at.strftime("%d")%></h3>
                                      <p class="month"><%= data.created_at.strftime("%B")%>,<%= data.created_at.strftime("%Y")%></p>
                                    </div>
                                    <div class="message_wrapper">
                                      <h4 class="heading"><%= data.users.firstname %> <%= data.users.lastname %></h4>
                                      <blockquote class="message"><%= data.comments %></blockquote>
                                      <br />
                                      <p class="url">
                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                        <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                      </p>
                                    </div>
                                  </li>
                                  <% end %>
                                </ul>
                                <!-- end of user messages -->


                              </div>

                          <% end %>
                          <div class="col-md-12">
                          <textarea class="form-control" name="taskComment" id="taskComment" placeholder="add your comments here..."></textarea>
                            <input type="hidden" value="<%= @task.id %>" id="taskId">
                            <input type="hidden" value="<%= current_user.id %>" id="userId">
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-4">
                              <button type="button" class ='btn btn-xs btn-primary' id="submitComment">Submit</button>
                            </div>
                          </div>
                        </div>
                      </li>
                </ul>
                <!-- end of user messages -->


              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer content -->
  <footer>
    <div class="">
      <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
        <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
      </p>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->

</div>


